@model Groepsreizen_team_tet.ViewModels.ActiviteitViewModels.ActiviteitEditViewModel
@{
    ViewData["Title"] = "Activiteit Bewerken";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <textarea asp-for="Beschrijving" class="form-control" required></textarea>
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Opslaan" class="btn btn-darkblue mt-3 me-2" />
                <a asp-action="Beheer" class="btn btn-secondary mt-3">Annuleren</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}